__pycache__/main.cpython-311.pyc
app/backend/__pycache__/*
app/backend/services/__pycache__/*
app/backend/venv/*
app/.env
app/frontend/__pycache__/get_models.cpython-311.pyc
one-click copy.sh
logs/ec2-live-logs.log
logs/one-click-deployment.log
.env
*.pem
